/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../../dist/fonts/montserrat-v14-latin-regular.woff2") format("woff2"), url("../../dist/fonts/montserrat-v14-latin-regular.woff") format("woff"); }

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../../dist/fonts/montserrat-v14-latin-700.woff2") format("woff2"), url("../../dist/fonts/montserrat-v14-latin-700.woff") format("woff"); }

/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../../dist/fonts/roboto-slab-v11-latin-regular.woff2") format("woff2"), url("../../dist/fonts/roboto-slab-v11-latin-regular.woff") format("woff"); }

@font-face {
  font-family: "Droid Serif Italic";
  font-weight: normal;
  font-style: normal;
  src: local(""), url("../../dist/fonts/DroidSerif-Italic.ttf") format("ttf"); }

body {
  padding: 0;
  margin: 0;
  background: #f4f4f4;
  min-width: 320px;
  font-size: 14px;
  font-family: "RobotoSlab", sans-serif;
  color: #777777; }

img {
  max-width: 100%;
  height: auto; }

h2, h3, h4, h5, h6 {
  font-size: 40px;
  font-family: "Montserrat", serif;
  color: #222222;
  font-weight: bold;
  text-transform: uppercase; }

header {
  background: url("../img/background_hader.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 700px; }

.card-title {
  font-size: 16px;
  font-weight: bold;
  padding-top: 5px; }

.mainNav_active {
  background-color: #1d2124; }

.navbar {
  padding: 20px; }

.nav-item {
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }

#mainNav .nav-link {
  color: white; }

#mainNav .nav-link:hover {
  color: #fed136; }

#mainNav .navbar-toggler {
  padding: 10px;
  font-family: "DroidSerif", sans-serif;
  font-size: 0.75rem;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #fed136; }

#mainNav .show {
  background-color: #1d2124; }

.subtitle-header {
  font-size: 40px;
  font-family: "DroidSerif", sans-serif;
  color: white;
  font-style: italic;
  line-height: 1.2;
  text-align: center;
  padding-top: 270px; }

.title-header {
  font-size: 75px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin: 0; }

.btn-primary {
  background-color: #fed136;
  border-color: #fed136; }

.btn {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  height: 65px;
  width: 240px;
  margin: 50px auto 0;
  padding: 20px;
  display: block; }

@media screen and (max-width: 1086px) {
  .navbar__mob {
    background-color: #1d2124; } }

@media screen and (max-width: 540px) {
  header {
    height: 480px; }
  .subtitle-header {
    padding-top: 200px;
    font-size: 20px; }
  .title-header {
    font-size: 25px; }
  .btn {
    height: 65px;
    width: 200px; } }

.title-main {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  color: #222222;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-top: 120px;
  margin: 0; }

.subtitle-main {
  font-size: 16px;
  font-family: "DroidSerif", sans-serif;
  color: #777777;
  font-style: italic;
  text-align: center;
  display: block; }

@media screen and (max-width: 850px) {
  .title-main {
    padding-top: 50px; } }

.card-services {
  margin-bottom: 115px; }

@media screen and (max-width: 850px) {
  .services .card-services {
    margin-bottom: 50px; }
  .services .col-md-4 {
    margin-bottom: 15px; } }

.portfolio .card-img-top:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05); }

.portfolio .card-deck {
  margin-top: 80px; }
  .portfolio .card-deck .card-title {
    margin-top: 15px;
    text-transform: none; }
  .portfolio .card-deck .card-text {
    margin-top: 10px; }

.portfolio .grid-posts {
  margin-top: 80px; }

.portfolio .mb-4, .portfolio .my-4 {
  margin-bottom: 3rem !important; }

.portfolio .card-title {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  text-transform: none; }

.portfolio .card-text {
  font-size: 14px;
  font-family: "DroidSerif", sans-serif;
  color: #737373;
  font-style: italic;
  line-height: 1.2;
  text-align: center; }

.portfolio .card-body {
  padding: 30px; }

.portfolio .grid-posts .row {
  margin-bottom: 50px; }

@media screen and (max-width: 850px) {
  .portfolio .card-body {
    padding: 10px; } }

.about-us {
  padding-bottom: 160px; }
  .about-us .about-us__title {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: #222222;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2; }
  .about-us .about-us__subtitle {
    margin-top: 5px; }
  .about-us .about-us__text {
    font-size: 14px;
    font-family: "RobotoSlab", sans-serif;
    color: #777777;
    line-height: 1.2;
    width: 265px;
    margin-top: 15px; }
  .about-us .list-group {
    max-width: 810px;
    margin: 80px auto 0;
    position: relative; }
  .about-us .list-item {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 495px;
    padding: 0;
    margin-bottom: 90px; }
  .about-us .timeline-image {
    width: 185px;
    height: 185px;
    position: absolute;
    left: 50%;
    margin-left: -90px; }
  .about-us li {
    list-style-type: none; }

.list-group::before {
  left: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef; }

.team-pic {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: black;
  display: block; }

.team {
  margin-bottom: 50px; }
  .team .card-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 27px; }
  .team span {
    background: url(../img/people.jpg) no-repeat center;
    background-size: cover;
    border: 2px double lavender; }
  .team .card-text {
    margin-top: 5px; }
  .team .col-md-4 {
    padding-right: 30px;
    padding-left: 30px; }
  .team .row {
    margin: auto; }
  .team .ml-2, .team .mx-2 {
    margin-left: 0.1rem !important;
    margin-right: 0.1rem !important; }

.about-us__left h5 {
  text-align: right; }

.about-us__left p {
  text-align: right; }

.about-us__left .card-title {
  font-size: 16px;
  font-weight: bold;
  color: black; }

.about-us__right .card-title {
  font-size: 16px;
  font-weight: bold;
  color: black; }

.about-us__right .about-us__info {
  margin-left: 46.5%; }

.about-us__right h5 {
  text-align: left; }

.about-us__right p {
  text-align: left; }

@media screen and (max-width: 1100px) {
  .about-us .card-title {
    font-size: 14px; }
  .about-us .about-us__text {
    font-size: 12px; }
  .about-us .list-item {
    margin-bottom: 40px; }
  .about-us .timeline-image {
    width: 150px;
    margin-left: -75px; } }

@media screen and (max-width: 850px) {
  .about-us .list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .about-us .list-item h5, .about-us .list-item p {
      text-align: left; }
  .about-us .timeline-image {
    left: 15%; }
  .list-group::before {
    left: 15%; }
  .about-us__text {
    float: right; } }

@media screen and (max-width: 760px) {
  .about-us .list-item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; } }

.team-info {
  margin-bottom: 110px;
  font-size: 16px;
  font-family: "RobotoSlab", sans-serif;
  color: #777777;
  line-height: 1.2; }

@media screen and (max-width: 700px) {
  .about-us {
    width: auto; }
    .about-us .list-group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .about-us .align-self-end {
      -ms-flex-item-align: baseline !important;
          align-self: baseline !important; }
    .about-us .list-item {
      width: 450px; }
      .about-us .list-item .card-title {
        margin: 0;
        padding: 0; } }

@media screen and (max-width: 540px) {
  .about-us .timeline-image {
    height: 100px;
    width: 100px;
    left: 20%; }
  .about-us .list-item {
    max-width: 390px; }
    .about-us .list-item h5, .about-us .list-item p {
      margin: 0;
      padding: 0; } }

@media screen and (max-width: 470px) {
  .about-us .list-item {
    max-width: 300px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .about-us .about-us__info {
    margin-left: 120px; }
  .about-us .about-us__text {
    width: 180px; } }

.main-icon .row {
  padding-bottom: 40px;
  padding-top: 40px; }

.wrap__social-icon {
  padding-bottom: 20px;
  padding-top: 20px; }

.social-icon__date {
  font-size: 14px;
  font-family: "Montserrat",sans-serif;
  color: #555555;
  line-height: 1.571; }

.contacts {
  background: url("../img/background_footer.jpg") no-repeat center;
  background-size: cover;
  height: 675px; }
  .contacts h2 {
    padding-top: 100px;
    color: white;
    margin-bottom: 10px; }
  .contacts textarea {
    height: 88%; }
  .contacts button {
    margin-top: 5px;
    margin-bottom: 5px; }

@media screen and (max-width: 850px) {
  .team .team-pic {
    margin: auto; }
  .team .col-md-4 {
    margin-bottom: 20px; }
  .team-info {
    margin-bottom: 50px; } }

.sentMessage {
  margin-top: 50px; }

.form-control {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #bbbbbb;
  font-weight: bold;
  text-transform: uppercase; }

.form-group {
  margin-bottom: 1.5rem; }

.form-control {
  padding: 20px; }

footer {
  margin-top: -70px; }
