/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
  url('../../dist/fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../dist/fonts/montserrat-v14-latin-regular.woff') format('woff') /* Modern Browsers */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
  url('../../dist/fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../dist/fonts/montserrat-v14-latin-700.woff') format('woff') /* Modern Browsers */
}

/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../../dist/fonts/roboto-slab-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../dist/fonts/roboto-slab-v11-latin-regular.woff') format('woff') /* Modern Browsers */
}

@font-face {
  font-family: "Droid Serif Italic";
  font-weight: normal;
  font-style: normal;
  src: local(''),
  url("../../dist/fonts/DroidSerif-Italic.ttf") format("ttf") /* Modern Browsers */
}

body {
  padding: 0;
  margin: 0;
  background: #f4f4f4;
  min-width: 320px;
  font-size: 14px;
  font-family: "RobotoSlab", sans-serif;
  color: rgb(119, 119, 119);
}

img {
  max-width: 100%;
  height: auto;
}

h2, h3, h4, h5, h6 {
  font-size: 40px;
  font-family: "Montserrat", serif;
  color: rgb(34, 34, 34);
  font-weight: bold;
  text-transform: uppercase;
}


header {
  background: url("../img/background_hader.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 700px;
}

.mainNav_active {
  background-color: #1d2124;
}

.navbar {
  padding: 20px;
}

.nav-item {
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

#mainNav .nav-link {
  color: rgb(255, 255, 255);
}

#mainNav .nav-link:hover {
  color: #fed136;
}

.subtitle-header {
  font-size: 40px;
  font-family: "DroidSerif", sans-serif;
  color: rgb(255, 255, 255);
  font-style: italic;
  line-height: 1.2;
  text-align: center;
  padding-top: 270px;
}

.title-header {
  font-size: 75px;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin: 0;
}

.btn-primary {
  background-color: #fed136;
  border-color: #fed136;
}

.btn {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  height: 65px;
  width: 240px;
  margin: 50px auto 0;
  padding: 20px;
  display: block;
}

@media screen and (max-width: 540px) {
  header {
    height: 480px;
  }
  .subtitle-header {
    padding-top: 200px;
    font-size: 20px;
  }
  .title-header {
    font-size: 25px;
  }
  .btn {
    height: 65px;
    width: 200px;
  }

}

.title-main {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  color: rgb(34, 34, 34);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-top: 120px;
  margin: 0;
}

.subtitle-main {
  font-size: 16px;
  font-family: "DroidSerif", sans-serif;
  color: rgb(119, 119, 119);
  font-style: italic;
  text-align: center;
  display: block;
}

.about-us {
  padding-bottom: 160px;
  .about-us__title {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
  }
  .about-us__subtitle {
    margin-top: 5px;
  }
  .about-us__text {
    font-size: 14px;
    font-family: "RobotoSlab", sans-serif;
    color: rgb(119, 119, 119);
    line-height: 1.2;
    width: 265px;
    margin-top: 15px;
  }

  .list-group {
    max-width: 810px;
    margin: 80px auto 0;
    position: relative;
  }

  .list-item {
    border: none;
    display: flex;
    justify-content: space-between;
    width: 495px;
    padding: 0;
    margin-bottom: 90px;
  }
  .timeline-image {
    width: 185px;
    height: 185px;
    position: absolute;
    left: 50%;
    margin-left: -90px;
  }

li {
  list-style-type: none;
}
}

.list-group::before {
  left: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}

.card-img-top:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.card-deck {
  margin-top: 80px;

  .card-title {
    margin-top: 15px;
    text-transform: none;
  }

  .card-text {
    margin-top: 10px;
  }
}

.card-services {
  margin-bottom: 115px;
}

.grid-posts {
  margin-top: 80px;
}

.mb-4, .my-4 {
  margin-bottom: 3rem !important;
}

.card-title {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  text-transform: none;
}

.card-text {
  font-size: 14px;
  font-family: "DroidSerif", sans-serif;
  color: rgb(115, 115, 115);
  font-style: italic;
  line-height: 1.2;
  text-align: center;
}
.col-lg-4 .col-sm-6 .mb-4 {
  padding-right: 15px;
  padding-left: 15px;
}

.card-body {
  padding: 30px;
}

@media (max-width: 1000px) {
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 700px) {
.col-sm-6{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  display: flex;
  justify-content: center;
  }
}
@media (max-width: 700px) {
  .col-sm-6{
    display: flex;
    justify-content: center;
  }
}

.grid-posts {
  .row {
    margin-bottom: 50px;
  }
}

.team-pic {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: black;
  display: block;
}

.team {
  margin-bottom: 50px;
  .card-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 27px;
  }
  span {
    background: url(../img/people.jpg) no-repeat center;
    background-size: cover;
    border: 2px double lavender;
  }
  .card-text {
    margin-top: 5px;
  }

  .col-md-4 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .row {
    margin: auto;
  }

  .ml-2, .mx-2 {
    margin-left: 0.1rem !important;
    margin-right: 0.1rem !important;
  }
}
.about-us__left {
  h5 {
    text-align: right;
  }
  p {
    text-align: right;
  }
}

.about-us__right {
  .about-us__info {
    margin-left: 46.5%;
  }
  h5 {
    text-align: left;
  }
  p {
    text-align: left;
  }
}

.team-info {
  margin-bottom: 110px;
  font-size: 16px;
  font-family: "RobotoSlab", sans-serif;
  color: rgb(119, 119, 119);
  line-height: 1.2;
}


@media screen and (max-width: 700px) {
  .about-us{
    width: auto;
    .list-item {
      flex-direction: column-reverse;
    }
    .list-group {
      display: flex;
      justify-content: center;
    }
  }
}

.main-icon {
  .row {
    padding-bottom: 40px;
    padding-top: 40px;
  }
}

.wrap__social-icon {
  padding-bottom: 20px;
  padding-top: 20px;

}
.social-icon__date {
  font-size: 14px;
  font-family: "Montserrat",sans-serif;
  color: rgb(85, 85, 85);
  line-height: 1.571;
}

.contacts {
    background: url("../img/background_footer.jpg") no-repeat center;
    background-size: cover;
    height: 675px;
h2 {
  padding-top: 100px;
  color: white;
  margin-bottom: 10px;
}
  textarea {
    height: 88%;
  }
  button {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 700px){
.team {
  .team-pic {
    margin: auto;
  }
}
}

.sentMessage {
  margin-top: 50px;
}

.form-control {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: rgb(187, 187, 187);
    font-weight: bold;
    text-transform: uppercase;

}
.form-group {
  margin-bottom: 1.5rem;
}
.form-control {
    padding: 20px;
  }
footer {
  margin-top: -70px;
}